# PostgreSQL. Versions 9.3 and up are supported.
#
default: &default
  adapter: postgresql
  encoding: unicode
  host: <%= ENV.fetch("CONSTRUCTOR_TEAM_WORK_DATABASE_HOST") { "localhost" } %>
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: <%= ENV.fetch("CONSTRUCTOR_TEAM_WORK_DATABASE_USERNAME") { "constructor_team_work" } %>
  password: <%= ENV["CONSTRUCTOR_TEAM_WORK_DATABASE_PASSWORD"] %>
  port: <%= ENV.fetch("CONSTRUCTOR_TEAM_WORK_DATABASE_PORT") { "5432" } %>

development:
  <<: *default
  database: constructor_team_work_development
test:
  <<: *default
  database: constructor_team_work_test
production:
  <<: *default
  database: constructor_team_work_production
